@model Resume

<section class="section py-5 ">
    <p class="mt-5"></p>
    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Resume List</h2>
            <a class="btn btn-primary" href="/Resume/Add">Create New Resume</a>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered  table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Resume Name</th>
                        <th>Title</th>
                        <th>Create Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<Resume>)ViewBag.resumes)
                    {
                        if (!item.isDeleted)
                        {
                            <tr>
                                <td>@item.firstName @item.lastName</td>
                                <td>@item.title</td>
                                <td>@item.createDate</td>
                                <td>
                                    <a asp-controller="Resume" asp-action="Edit" asp-route-resumeId="@item.resumeId" class="btn btn-sm btn-primary me-1">Edit</a>
                                    <a asp-controller="Resume" asp-action="Delete" asp-route-resumeId="@item.resumeId" class="btn btn-sm btn-danger me-1"
                                       onclick="return confirm('Are you sure you want to delete this resume?');">Delete</a>                                  
                                    <a asp-controller="Resume" asp-action="ParsedResume" asp-route-resumeId="@item.resumeId" target="_blank" class="btn btn-sm btn-info"  >View Online</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

</section>
